/*
*
* Thumbnails
*/

//
// Table of Contents
//
// Thumbnail Classic

.thumbnail {
	position: relative;
}

.thumbnail-xxs {
	max-width: 220px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-xs {
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-sm {
	max-width: 370px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-md {
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-lg {
	max-width: 570px;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail-xl {
	max-width: 870px;
	margin-left: auto;
	margin-right: auto;
}

//
// Thumbnail Classic
//
.thumbnail-classic {
	text-align: left;
	overflow: hidden;
}

.thumbnail-classic-figure {
	display: block;

	img {
		width: 100%;
		transition: all 0.3s ease;
	}
}

.thumbnail-classic-caption {
	text-align: center;
	position: absolute;
	content: '';
	left: 50%;
	bottom: 0;
	padding: 10px 15px;
	min-width: 230px;
	transform: translate3d(-50%, 0, 0);
	background: $white;
	pointer-events: none;
	transition: all 0.3s ease;

	> [class*='thumbnail-classic-'] {
		pointer-events: auto;
	}
}

.thumbnail-classic-title-wrap {
	> * {
		display: inline-block;
		vertical-align: middle;
	}

	.icon {
		position: relative;
		top: 3px;
		font-size: 26px;

		img {
			display: none;
		}
		@include link($gray-800, $secondary);
	}
}

.thumbnail-classic-title {
	color: $primary;

	a {
		@include link(inherit, $secondary);
	}
}

.thumbnail-classic-text {
	display: none;
}
